:host {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--accent-color);
}

.logo {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__text {
  fill: white;
  font-family: var(--font-family);
}
