:host {
  display: block;
  width: 100%;
  height: 100%;
}

.activity-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--surface-activity-bar);
  border-right: 1px solid var(--border-default);
}

.activity-bar__primary,
.activity-bar__secondary {
  display: flex;
  flex-direction: column;
}

.activity-bar__secondary {
  margin-top: auto;
}

.activity-bar__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.activity-bar__item .codicon {
  font-size: 24px;
}

.activity-bar__item--active::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  background-color: var(--accent-color);
  content: '';
}
