<div class="activity-bar">
  <div class="activity-bar__primary">
    <button
      class="activity-bar__item activity-bar__item--active"
      type="button"
      aria-label="Explorer"
    >
      <tui-icon icon="@tui.library-big" />
    </button>

    <button class="activity-bar__item" type="button" aria-label="Search">
      <tui-icon icon="@tui.search" />
    </button>
  </div>

  <div class="activity-bar__utilities">
    <button class="activity-bar__item" type="button" aria-label="Help">
      <tui-icon icon="@tui.circle-question-mark" />
    </button>

    <button class="activity-bar__item" type="button" aria-label="Settings">
      <tui-icon icon="@tui.settings" />
    </button>
  </div>
</div>
