.logo-area {
  width: var(--activity-bar-width);
  height: calc(var(--title-bar-height) + var(--menu-bar-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-area__logo {
  width: 42px;
  height: 40px;
}
