.title-bar {
  height: var(--title-bar-height);
  padding: var(--layout-gap) 8px;
  display: flex;
  align-items: center;
}

.title-bar__title {
  font: inherit;
  font-size: calc(var(--title-bar-height) * 0.65);
}
