<div class="application-layout">
  <div class="application-header">
    <app-logo-area />
    <app-header />
  </div>

  <div class="application-body">
    <app-activity-bar />

    <div #mainWorkspace class="main-workspace">
      <app-resizable-panel
        direction="right"
        [size]="leftPanelSize()"
        (sizeChange)="resizeSidePanel('left', $event)"
      >
        @if (leftPanelVisible()) {
          <app-left-panel />
        }
      </app-resizable-panel>

      @if (leftPanelVisible()) {
        <div class="panel-gap"></div>
      }

      <app-center-area
        [bottomPanelSize]="bottomPanelSize()"
        [bottomPanelVisible]="bottomPanelVisible()"
        (bottomPanelSizeChange)="resizeBottomPanel($event)"
      />

      @if (rightPanelVisible()) {
        <div class="panel-gap"></div>
      }

      <app-resizable-panel
        direction="left"
        [size]="rightPanelSize()"
        (sizeChange)="resizeSidePanel('right', $event)"
      >
        @if (rightPanelVisible()) {
          <app-right-panel />
        }
      </app-resizable-panel>
    </div>
  </div>

  <app-status-bar />
</div>
