<div
  class="application-layout"
  [style.--layout-gap.px]="config.gap"
  [style.--title-bar-height.px]="config.fixed.titleBarHeight"
  [style.--menu-bar-height.px]="config.fixed.menuBarHeight"
  [style.--activity-bar-width.px]="config.fixed.activityBarWidth"
  [style.--status-bar-height.px]="config.fixed.statusBarHeight"
  [style.--tab-bar-height.px]="config.fixed.tabBarHeight"
  [style.--application-header-height.px]="applicationHeaderHeight"
>
  <div class="application-header">
    <app-logo-area />
    <app-header />
  </div>

  <div class="application-body">
    <app-activity-bar />

    <div #mainWorkspace class="main-workspace">
      <app-resizable-panel
        direction="right"
        [size]="leftPanelSize()"
        (sizeChange)="resizeSidePanel('left', $event)"
        (resizeEnd)="finishSidePanelResize('left')"
      >
        @if (leftPanelVisible()) {
          <app-left-panel />
        }
      </app-resizable-panel>

      @if (leftPanelVisible()) {
        <div class="panel-gap"></div>
      }

      <app-center-area
        [workAreaVisible]="workAreaVisible()"
        [workAreaMinHeight]="config.workArea.minHeight"
        [bottomPanelSize]="bottomPanelSize()"
        [bottomPanelVisible]="bottomPanelVisible()"
        (bottomPanelSizeChange)="resizeBottomPanel($event)"
        (bottomPanelResizeEnd)="finishBottomPanelResize()"
      />

      @if (rightPanelVisible()) {
        <div class="panel-gap"></div>
      }

      <app-resizable-panel
        direction="left"
        [size]="rightPanelSize()"
        (sizeChange)="resizeSidePanel('right', $event)"
        (resizeEnd)="finishSidePanelResize('right')"
      >
        @if (rightPanelVisible()) {
          <app-right-panel />
        }
      </app-resizable-panel>
    </div>
  </div>

  <app-status-bar />
</div>
