<div class="application-layout">
  <div class="application-header">
    <app-logo-area />
    <app-header />
  </div>

  <div class="application-body">
    <app-activity-bar />

    <div class="main-workspace">
      @if (leftPanelActualWidth() > 0) {
        <app-resizable-panel
          direction="right"
          [size]="{ width: leftPanelActualWidth() }"
          (sizeChange)="resizeLeftPanel($event)"
        >
          <app-left-panel />
        </app-resizable-panel>

        <div class="panel-gap"></div>
      }

      <app-center-area
        [bottomPanelHeight]="bottomPanelActualHeight()"
        (bottomPanelHeightChange)="resizeBottomPanel($event)"
      />

      @if (rightPanelActualWidth() > 0) {
        <div class="panel-gap"></div>

        <app-resizable-panel
          direction="left"
          [size]="{ width: rightPanelActualWidth() }"
          (sizeChange)="resizeRightPanel($event)"
        >
          <app-right-panel />
        </app-resizable-panel>
      }
    </div>
  </div>

  <app-status-bar />
</div>
