<nav class="menu-bar" aria-label="Application Menu Bar">
  <button class="menu-bar__item" type="button">File</button>
  <button class="menu-bar__item" type="button">Edit</button>
  <button class="menu-bar__item" type="button">View</button>
  <button class="menu-bar__item" type="button">Insert</button>
  <button class="menu-bar__item" type="button">Format</button>
  <button class="menu-bar__item" type="button">Data</button>
  <button class="menu-bar__item" type="button">Tools</button>
  <button class="menu-bar__item" type="button">Help</button>
</nav>
