:root {
  --accent-color: #e51400;
  --tui-font-icon: 'Material Symbols Rounded';
}

.material-outlined {
  --tui-font-icon: 'Material Symbols Outlined';
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}
