:host {
  display: block;
  position: relative;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

app-resizable-container {
  width: 100%;
  height: 100%;
}

.panel-resize-handle {
  position: absolute;
  z-index: 1;
  touch-action: none;
}

.panel-resize-handle::after {
  position: absolute;
  content: '';
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 0s;
}

.panel-resize-handle:hover::after {
  background-color: var(--accent-color);
  transition-delay: 0.25s;
}

.panel-resize-handle.resize-handle-active::after {
  background-color: var(--accent-color);
  transition-delay: 0s;
}

.panel-resize-handle::before {
  position: absolute;
  content: '';
  z-index: 1;
  opacity: 0.65;
}

.panel-resize-handle:hover::before,
.panel-resize-handle.resize-handle-active::before {
  color: var(--accent-color);
  opacity: 1;
}

.panel-resize-handle-left {
  top: 0;
  bottom: 0;
  left: calc(-1 * var(--layout-gap));
  width: calc(2 * var(--layout-gap));
  cursor: ew-resize;
}

.panel-resize-handle-left::after {
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--layout-gap);
}

.panel-resize-handle-left::before {
  top: 50%;
  left: calc(var(--layout-gap) / 2);
  width: calc(var(--layout-gap) / 2);
  height: calc(var(--layout-gap) * 2);
  background: radial-gradient(
      circle,
      currentColor calc(var(--layout-gap) / 4),
      transparent calc(var(--layout-gap) / 4)
    )
    center / calc(var(--layout-gap) / 2) calc(var(--layout-gap) * 0.75);
  transform: translate(-50%, -50%);
}

.panel-resize-handle-right {
  top: 0;
  right: calc(-1 * var(--layout-gap));
  bottom: 0;
  width: calc(2 * var(--layout-gap));
  cursor: ew-resize;
}

.panel-resize-handle-right::after {
  top: 0;
  bottom: 0;
  left: var(--layout-gap);
  width: var(--layout-gap);
}

.panel-resize-handle-right::before {
  top: 50%;
  left: calc(var(--layout-gap) * 1.5);
  width: calc(var(--layout-gap) / 2);
  height: calc(var(--layout-gap) * 2);
  background: radial-gradient(
      circle,
      currentColor calc(var(--layout-gap) / 4),
      transparent calc(var(--layout-gap) / 4)
    )
    center / calc(var(--layout-gap) / 2) calc(var(--layout-gap) * 0.75);
  transform: translate(-50%, -50%);
}

.panel-resize-handle-top {
  top: calc(-1 * var(--layout-gap));
  right: 0;
  left: 0;
  height: calc(2 * var(--layout-gap));
  cursor: ns-resize;
}

.panel-resize-handle-top::after {
  top: 0;
  right: 0;
  left: 0;
  height: var(--layout-gap);
}

.panel-resize-handle-top::before {
  top: calc(var(--layout-gap) / 2);
  left: 50%;
  width: calc(var(--layout-gap) * 2);
  height: calc(var(--layout-gap) / 2);
  background: radial-gradient(
      circle,
      currentColor calc(var(--layout-gap) / 4),
      transparent calc(var(--layout-gap) / 4)
    )
    center / calc(var(--layout-gap) * 0.75) calc(var(--layout-gap) / 2);
  transform: translate(-50%, -50%);
}

.panel-resize-handle-bottom {
  right: 0;
  bottom: calc(-1 * var(--layout-gap));
  left: 0;
  height: calc(var(--layout-gap) * 2);
  cursor: ns-resize;
}

.panel-resize-handle-bottom::after {
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--layout-gap);
}

.panel-resize-handle-bottom::before {
  top: calc(var(--layout-gap) * 1.5);
  left: 50%;
  width: calc(var(--layout-gap) * 2);
  height: calc(var(--layout-gap) / 2);
  background: radial-gradient(
      circle,
      currentColor calc(var(--layout-gap) / 4),
      transparent calc(var(--layout-gap) / 4)
    )
    center / calc(var(--layout-gap) * 0.75) calc(var(--layout-gap) / 2);
  transform: translate(-50%, -50%);
}
