:host {
  position: relative;
  display: block;
  min-width: 0;
  min-height: 0;
  overflow: visible;
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content > * {
  display: block;
  width: 100%;
  height: 100%;
}

.resize-handle {
  position: absolute;
  z-index: 1;
  touch-action: none;
  user-select: none;
  background: transparent;
}

.resize-handle.edge.top,
.resize-handle.edge.bottom {
  left: 0;
  width: 100%;
  height: 6px;
  cursor: ns-resize;
}

.resize-handle.edge.top::after,
.resize-handle.edge.bottom::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background: var(--accent-color);
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 100ms ease 150ms;
}

.resize-handle.edge.left,
.resize-handle.edge.right {
  top: 0;
  width: 6px;
  height: 100%;
  cursor: ew-resize;
}

.resize-handle.edge.left::after,
.resize-handle.edge.right::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  content: '';
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 100ms ease 150ms;
}

.resize-handle.edge:hover::after {
  opacity: 1;
}

.resize-handle.corner {
  width: 10px;
  height: 10px;
}

.resize-handle.corner.top.left,
.resize-handle.corner.bottom.right {
  cursor: nwse-resize;
}

.resize-handle.corner.top.right,
.resize-handle.corner.bottom.left {
  cursor: nesw-resize;
}

.resize-handle.top {
  top: 0;
  transform: translateY(-50%);
}

.resize-handle.bottom {
  bottom: 0;
  transform: translateY(50%);
}

.resize-handle.left {
  left: 0;
  transform: translateX(-50%);
}

.resize-handle.right {
  right: 0;
  transform: translateX(50%);
}
