<div class="content">
  <ng-content />
</div>

@if (hasHandle('top')) {
  <div
    class="resize-handle edge top"
    (pointerdown)="startResize($event, 'top')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}

@if (hasHandle('bottom')) {
  <div
    class="resize-handle edge bottom"
    (pointerdown)="startResize($event, 'bottom')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}

@if (hasHandle('left')) {
  <div
    class="resize-handle edge left"
    (pointerdown)="startResize($event, 'left')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}

@if (hasHandle('right')) {
  <div
    class="resize-handle edge right"
    (pointerdown)="startResize($event, 'right')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}

@if (hasHandle('top-left')) {
  <div
    class="resize-handle corner top left"
    (pointerdown)="startResize($event, 'top-left')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}

@if (hasHandle('top-right')) {
  <div
    class="resize-handle corner top right"
    (pointerdown)="startResize($event, 'top-right')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}

@if (hasHandle('bottom-left')) {
  <div
    class="resize-handle corner bottom left"
    (pointerdown)="startResize($event, 'bottom-left')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}

@if (hasHandle('bottom-right')) {
  <div
    class="resize-handle corner bottom right"
    (pointerdown)="startResize($event, 'bottom-right')"
    (pointermove)="resizeToPointer($event)"
    (pointerup)="stopResize($event)"
    (pointercancel)="stopResize($event)"
  ></div>
}
